/**** Shared Styles ****/

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.border {
  border: 1px solid black;
}

.squircle {
  border-radius: 10px;
}

.calc-container {
  width: fit-content;
  padding: 1em 1.5em;
}

button {
  border-radius: 10px;
  background-color: rgb(247, 140, 140);
  border: none;
  padding: 1em 2em;
  margin-left: 1em;
}

/* Buttons push away from button their left, except for the first button of each row. */
.row > :nth-child(1) {
  margin-left: 0;
}
