/**** Shared Styles ****/

.margin-3 {
  margin: 0.3em;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.border {
  border: 1px solid rgb(223, 225, 229);
}

.squircle {
  border-radius: 10px;
}

a:link {
  color: blue;
}

a:hover {
  color: teal;
}

a:visited {
  color: purple;
}

#calc-container {
  width: fit-content;
  padding: 0.5em 1em;
}

.url-row > * {
  margin-right: 10px;
  font-size: 19px;
}

input {
  margin: 0.6rem 0.3rem;
  padding: 0 1.3rem;
  width: 100%;
  height: 1.7em;
  font-size: 40px;
  text-align: right;
}

button {
  border-radius: 10px;
  background-color: rgb(247, 140, 140);
  border: none;
  font-size: 19px;
  width: 7em;
  height: 3em;
  margin: 0.3em;
  background-color: rgb(223, 225, 229);
}

.rad-deg-button {
  width: 14.8em;
  color: rgb(140, 142, 145);
}

.rad-deg-button > * {
  padding: 1.2em;
}

.rad-deg-button :first-child {
  color: black;
}

.btn-light-gray {
  background-color: rgb(241, 243, 244);
}

.btn-blue {
  background-color: rgb(66, 133, 244);
  color: white;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: rgb(215, 217, 221);
}

button.btn-light-gray:hover {
  background-color: rgb(232, 234, 235);
}
button.btn-blue:hover {
  background-color: rgb(77, 139, 241);
}

/* Hidden by default. Enabled by Javascript. */
.scientific-btn-left {
  display: none;
}

/* Hidden by default. Enabled by Javascript. */
.scientific-btn-bottom {
  display: none;
}

@media (max-width: 630px) {
  button {
    width: 25%;
  }

  .rad-deg-button {
    width: 53%;
  }

  .rad-deg-button > * {
    padding: 0.8rem;
  }
}
